* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.register {
  width: 100%;
  height: 100vh;
}
.register-container {
  width: 100%;
}
.register-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.register-container .register-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
}
.register-container .register-content .left {
  width: 40%;
  height: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
.register .register-container .register-content .left img {
  width: 100%;
  height: 60%;
}
.register .register-container .register-content .left .left-text {
  width: 70%;
  margin: auto;
  text-align: center;
  color: #ffffff;
}
.register .register-container .register-content .left .left-text h1 {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  font-weight: 500;
}
.register .register-container .register-content .left .left-text p {
  font-family: "Inter", sans-serif;
}
.register .register-container .register-content .right {
  width: 60%;
  height: 100%;
}
.register .register-container .register-content .right .register-box {
  width: 50%;
  height: auto;
  margin: 5rem auto;
  border-radius: 10%;
  box-shadow: 2px 3px 5px black;
  background-image: linear-gradient(to bottom, #43c3f9, #be4fd8);
  color: #ffffff;
  text-align: center;
  padding: 3rem;
}
.register .register-container .register-content .right .register-box form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 30px;
}
.register
  .register-container
  .register-content
  .right
  .register-box
  form
  input {
  width: 100%;
  background: transparent;
  padding: 4%;
  border-radius: 15px;
  border: 1px solid white;
  color: #ffffff;
}
.register
  .register-container
  .register-content
  .right
  .register-box
  form
  .input-box {
  position: relative;
}
.register
  .register-container
  .register-content
  .right
  .register-box
  form
  .input-box
  label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
  color: #ffffff;
}
.register
  .register-container
  .register-content
  .right
  .register-box
  form
  input:focus
  + label,
.register
  .register-container
  .register-content
  .right
  .register-box
  form
  input:valid
  + label {
  top: -10px;
  left: 10px;
  padding: 0 5px;
  font-size: 0.8rem;
}

.register
  .register-container
  .register-content
  .right
  .register-box
  form
  button {
  width: 35%;
  padding: 3%;
  border-radius: 20px;
  background-color: #e15690;
  border: none;
  /* margin-top: 20px; */
  color: #ffffff;
}
.register
  .register-container
  .register-content
  .right
  .register-box
  .right-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
}
.register
  .register-container
  .register-content
  .right
  .register-box
  .right-text
  p
  a {
  text-decoration: none;
  color: #e15690;
}
