* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  padding-left: 34px;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Pacifico", cursive;
}
.hamburger-menu {
  padding-left: 4rem;
  padding-top: 10px;
}
.hamburger-menu img {
  width: 40px;
  height: 40px;
}

.input {
  padding-left: 4rem;
}
.input input {
  background-color: #ded4ee;
  padding: 10px;
  border-radius: 36px;
  border: none;
  position: relative;
}
.input input::placeholder {
  color: #f8f8f9;
  padding-left: 10px;
}
.input img {
  position: absolute;
  top: 30px;
  left: 34.5rem;
  width: 20px;
  height: 20px;
}
.notification-icon img {
  margin-left: 1rem;
  width: 20px;
  height: 20px;
}
.profile {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  color: #5d31d9;
}
.profile img {
  width: 30px;
  height: 30px;
}
.profile h3 {
  padding-right: 50px;
}
.dashboard {
  background-color: #ecebf2;
  display: flex;
  gap: 2rem;
}
aside {
  width: 25%;
  height: 600px;
  position: sticky;
  /* left: 0; */
}
.sidebar {
  padding-top: 5px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #8740f2 0%, #9653f5 29%, #bb80fd 100%);
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li:nth-child(7) {
  border: none;
}
.sidebar ul li:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  height: 100px;
}
.sidebar ul li:nth-child(2) span {
  font-size: 1.5rem;
  color: #9753f6;
}
.sidebar ul li {
  padding: 10px;
  border-bottom: 0.5px solid #fff;
}
.sidebar ul li a {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
}
.sidebar ul li a img {
  padding-top: 2px;
  width: 35px;
  height: 35px;
}
.sidebar ul li a span {
  font-size: 1.5rem;
  font-family: "Outfit", sans-serif;
  font: 400;
  opacity: 0.7;
}

.container {
  width: 100%;
  height: auto;
  margin-right: 5rem;
}
.container .carousel-container {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  padding: 30px 50px;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}
.container .carousel-leftRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .carousel-leftRight .left {
  position: absolute;
  top: 185px;
  left: 21rem;
}
.container .carousel-leftRight .right {
  position: absolute;
  top: 185px;
  right: 100px;
}
.container .carousel-container .box1 a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .carousel-container .box1,
.container .carousel-container .box2 {
  border: 2px solid #925bf8;
  border-radius: 30px;
  width: 20%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container .carousel-container .box3,
.container .carousel-container .box4,
.container .carousel-container .box5 {
  position: relative;
  width: 20%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container .carousel-container .box1,
.container .carousel-container .box2 {
  background-color: #ffffff;
}
.container .carousel-container .box1 img,
.container .carousel-container .box2 img {
  width: 40%;
}
.container .carousel-container .box1 p,
.container .carousel-container .box2 p {
  color: #5d31d9;
  font-size: 1rem;
}
.container .carousel-container .box3 img,
.container .carousel-container .box4 img,
.container .carousel-container .box5 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.container .carousel-container .box3 .resume-box,
.container .carousel-container .box4 .resume-box,
.container .carousel-container .box5 .resume-box {
  position: absolute;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container .carousel-container .box3 .resume-box img,
.container .carousel-container .box4 .resume-box img,
.container .carousel-container .box5 .resume-box img {
  width: 40%;
  border-radius: 0;
}
.container .comments {
  margin-top: 30px;
  width: 70%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.container .comments .comment-box {
  background-color: white;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.container .comments .comment-box .profile-description {
  width: 100%;
  height: 55%;
  border-bottom: #d6d3d3;
  padding: 30px;
}
.container .comments .comment-box .profile-description .profile-name {
  padding-bottom: 8px;
  border-bottom: 2px solid #d6d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .comments .comment-box .profile-description .profile-name .name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .comments .comment-box .profile-description .profile-name .name img {
  margin-left: 20px;
  width: 30px;
}
.container .comments .comment-box .profile-description .profile-name .more {
  width: 20px;
  margin-right: 30px;
}
.container .comments .comment-box .profile-description .profile-name span {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.container .comments .comment-box .profile-description p {
  font-size: 14px;
  padding-top: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
}
.comments .comment-box .like-dislike {
  width: 100%;
  height: 45%;
  background-color: #f4f3f3;
}
.comments .comment-box .like-dislike .icons {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #c4c1c1;
}
.comments .comment-box .like-dislike .icons img {
  width: 35px;
}
.comments .comment-box .like-dislike .icons .like {
  width: 50%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #c4c1c1;
}
.comments .comment-box .like-dislike .icons .dislike {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments .comment-box .like-dislike .post-input {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 30px;
}
.comments .comment-box .like-dislike .post-input input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgba(161, 160, 160, 0.2);
}
.comments .comment-box .like-dislike .post-input input::placeholder {
  font-family: "Outfit", sans-serif;
  opacity: 0.6;
  font-size: 14px;
}
.comments .comment-box .like-dislike .post-input button {
  padding: 5px;
  border-radius: 20px;
  width: 10%;
  border: none;
  background: linear-gradient(to right, #934ef5, #b173fb);
  color: rgba(255, 255, 255, 0.7);
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}
footer {
  padding: 30px;
  text-align: center;
}
footer p {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
