* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  padding-left: 34px;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Pacifico", cursive;
}
.hamburger-menu {
  padding-left: 4rem;
  padding-top: 10px;
}
.hamburger-menu img {
  width: 40px;
  height: 40px;
}

.input {
  padding-left: 4rem;
}
.input input {
  background-color: #ded4ee;
  padding: 10px;
  border-radius: 36px;
  border: none;
  position: relative;
}
.input input::placeholder {
  color: #f8f8f9;
  padding-left: 10px;
}
.input img {
  position: absolute;
  top: 30px;
  left: 34.5rem;
  width: 20px;
  height: 20px;
}
.notification-icon img {
  margin-left: 1rem;
  width: 20px;
  height: 20px;
}
.profile {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  color: #5d31d9;
}
.profile img {
  width: 30px;
  height: 30px;
}
.profile h3 {
  padding-right: 50px;
}
.dashboard {
  background-color: #ecebf2;
  display: flex;
  gap: 5rem;
}
aside {
  width: 25%;
  height: 580px;
  position: sticky;
  /* left: 0; */
}
.sidebar {
  padding-top: 5px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #8740f2 0%, #9653f5 29%, #bb80fd 100%);
}
.side-profile {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #5d31d9;
  background-color: #fff;
}
.side-profile img {
  width: 30px;
  height: 30px;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li:nth-child(3) {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 100px;
}
.sidebar ul li:nth-child(3) a {
  color: #9753f6;
}
.sidebar ul li:nth-child(7) {
  border: none;
}
.sidebar ul li {
  padding: 10px;
  border-bottom: 0.5px solid #fff;
}
.sidebar ul li a {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
}
.sidebar ul li a img {
  padding-top: 2px;
  width: 35px;
  height: 35px;
}
.sidebar ul li a span {
  font-size: 1.5rem;
  font-family: "Outfit", sans-serif;
  font: 400;
  opacity: 0.7;
}

.container {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}
.container .box {
  border: 2px solid #925bf8;
  border-radius: 30px;
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container .box {
  background-color: #ffffff;
}
.container .box img {
  width: 25%;
}
.container .box p {
  color: #5d31d9;
  font-size: 1.2rem;
  font-weight: 600;
}
.container .myresume {
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 50px;
  width: 45%;
  height: 200px;
  padding: 20px 30px;
  display: flex;
  /* align-items: center; */
  gap: 30px;
}
.container .myresume .resume-image {
  width: 25%;
  height: 160px;
}
.container .myresume .resume-image img {
  width: 100%;
  height: 100%;
}
.container .myresume .myresume-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .myresume .myresume-content h3 {
  margin-bottom: 10px;
}
.container .myresume .myresume-content .completion {
  display: flex;
  justify-content: space-between;
}
.container .myresume .myresume-content .buttons {
  display: flex;
  gap: 20px;
}
.container .myresume .myresume-content .buttons .edit {
  width: 25%;
  border: 2px solid #763fc9;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .myresume .myresume-content .buttons .edit p {
  color: #6e3bbd;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
.container .myresume .myresume-content .buttons .edit img {
  width: 14px;
  height: 14px;
}
.container .myresume .myresume-content .buttons .other-btn {
  display: flex;
  gap: 10px;
}
.container .myresume .myresume-content .buttons .other-btn button {
  width: 60px;
  border: 2px solid #763fc9;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .myresume .myresume-content .buttons .other-btn button img {
  width: 20px;
  height: 20px;
}
.container .myresume .myresume-content .buttons .other-btn .more1 img {
  rotate: 90deg;
}
.progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
}

.progress-bar {
  height: 10px;
  width: 50%;
  background-color: #4caf50;
  text-align: center;
  line-height: 25px;
  color: white;
  border-radius: 25px 0 0 25px;
  transition: width 0.5s ease-in-out;
}
footer {
  padding: 15px;
  text-align: center;
}
footer p {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
